body{
    font-family: Arial, sans-serif;
    background-color: #ccc;
    margin: 0px;
}

.hero{
    background-image: url(../imagens/imagens1.1/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    border-top: 1px solid transparent;
}

.hero-content{
    text-align: center;
    color: white;
    margin-top: 150px;
}

.hero-content h1{
    text-transform: uppercase;
    font-size: 46px;
    text-shadow: 3px 3px 5px black;
}

.hero-content p{
    background: rgba(0,0,0,0.8);
    display: inline-block;
    padding: 10px;
    border-bottom: 2px solid white;
}

.hero nav ul{
    text-align: right;
    margin: 20px 50px 0 0;
}

.hero nav li {
    display:inline-block;
    list-style: none;
    border: 1px solid white;
    margin-left: 10px;
}

.hero nav a{
    background:rgba(00,00,00,0.3);
    padding: 15px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;

}

.hero nav a:hover{
    background:rgba(00,00,00,0.5);
}

main{
    width: 80%;
    margin: auto;
}

.content-section{
    background-color: white;
    padding: 15px;
    margin-top: 15px;
    overflow: auto;
}

.card{
    width: 32%;
    float: left;
    box-sizing: border-box;
}

.card-1, .card-2{
    margin-right: 2%;
} 

.card p{
    background-color: rgb(51, 49, 49) ;
    color: white;
    margin: 0;
    padding: 15px;
}

.card img{
    width: 100%;
    display: block;
}

.content-header{
    border-bottom: solid 2px #ccc;
    padding: 10px;
    background: #eee;
}
.content-header h2{
    margin: 0px;
}

.rodape{
    height: 80px;
    color: white;
    font-size: 14px;
    text-align: center;
    text-shadow: 2px 2px 2px black;
    background: #6b6c68;
    line-height: 80px;

